html, body{
    overflow: hidden;
}
.container-fluid{
    height: 100vh;
    width: 100vw;
    padding-top: 70px;

}

.navbar{
    -webkit-transition: all 1.4s ease;
    -moz-transition: all 1.4s ease;
    -o-transition: all 1.4s ease;
    transition: all 1.4s ease;
}

@media (max-width: 1000px){
    .text-main{
        font-size: 5rem;
        margin-bottom: 0;
    }
    
    .text-lg {
        font-size: 2rem;
    }
    .card {
        width: 18rem;
    }
}


@media (min-width: 1000px){
    .text-main{
        font-size: 5rem;
        margin-bottom: 0;
    }
    
    .text-lg {
        font-size: 2rem;
    }
}
@media (min-width: 1500px){
    .text-main{
        font-size: 10rem;
        margin-bottom: 0;
    }
    
    .text-lg {
        font-size: 4rem;
    }
    .card {
        width: 22rem;
    }
}

@media (min-height: 1000px) {
    .text-bottom{
        padding-top: 800px;
    }
}
@media (max-height: 1000px){
    .text-bottom{
        padding-top: 200px;
    }
}

@media (max-width: 500px){
    .text-main{
        font-size: 2rem;
        margin-bottom: 0;
    }
    
    .text-lg {
        font-size: 1rem;
    }
    .card {
        width: 15rem;
    }
}