html, body{
    overflow: hidden;
}
.container-fluid{
    height: 100vh;
    width: 100vw;
    padding-top: 70px;

}

.navbar{
    -webkit-transition: all 1.4s ease;
    -moz-transition: all 1.4s ease;
    -o-transition: all 1.4s ease;
    transition: all 1.4s ease;
}

.text-main{
    font-size: 5rem;
    margin-bottom: 0;
}

.text-lg {
    font-size: 2rem;
}
.card {
    width: 18rem;
}
.hidden{
    visibility: hidden;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
    .text-main{
        font-size: 3rem;
        margin-bottom: 0;
    }
    
    .text-lg {
        font-size: 1rem;
    }
    .margin {
        margin-top: 20px;
    }

    .card {
        width: 18rem;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-main{
        font-size: 6rem;
        margin-bottom: 0;
    }
    
    .text-lg {
        font-size: 3rem;
    }
    .margin {
        margin-top: 20px;
    }

    .card {
        width: 22rem;
    }
    .text-bottom{
        font-size: 2.5rem;
    }
    .connections{
        margin-top: 200px;
    }
    .btn{
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
    }
    .padding{
        margin-top: 100px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-main{
        font-size: 4rem;
        margin-bottom: 0;
    }
    
    .text-lg {
        font-size: 2rem;
    }
    .margin {
        margin-top: 0px;;
    }

    .card {
        width: 22rem;
    }
    .text-bottom{
        font-size: 2rem;
    }
    .connections{
        margin-top: 200px;
    }
    .btn{
        padding: 7px 13px;
        font-size: 12px;
        border-radius: 10px;
    }

    .padding{
        margin-top: 25px;
    }
 }